/**
 * Created by bhavyaagg on 27/08/17.
 */

#homeHeading {
    top: 6%;
    transform: translateY(-6%);
}

#shortcodeform {
    background: rgba(256, 256, 256, 0.6);
}

#shortcodeform > div.form-group.row {
    margin-top: 5%;
    padding: 0 30px 10px;
}

#shortcodeform > p {
    padding: 0 30px;
}

#shortcodeform > p > a {
    color: #666 !important;
    font-weight: normal;
}

#shortCodeContainer {
    padding: 0 30px 10px;
}

#submit {
    padding: 0 30px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#shortForm {
    padding: 0 30px 0;
    transition: all 300ms linear;
}